
body{
    background: rgb(48, 45, 45);
}
a{
    color: black;
    text-decoration: none;
}
a:hover{
    color: red;
}

.btn{
    background: lightblue;
   color: white;
   border: none;
   font-size: 16px;
   padding:10px 20px;
   border-radius: 12px;   
}
.btn:hover{
    color: lightblue;
    background: white;
}